In [1]:
import pandas as pd
import plotly.express as px

# Graphs:

Hay que usar el playerId para unir los datos de los jugadores con lo de wyscout


### Player info
- nombre (dropdown que se puede buscar)
- equipo (dropdown)
- edad
- peso
- posición (la de wyscout o de *clusters idealmente)
- *costo

### Player stats

(se necesita un .csv con todas estas estadísticas aparte de )

- xT
- VAEP
- agregados de todo
- *minutos jugados

In [2]:
df_eng = pd.read_csv('./../../data/wyscout_tabular/england.csv')
df_ger = pd.read_csv('./../../data/wyscout_tabular/germany.csv')
df_ita = pd.read_csv('./../../data/wyscout_tabular/italy.csv')
df_fra = pd.read_csv('./../../data/wyscout_tabular/france.csv')
df_spa = pd.read_csv('./../../data/wyscout_tabular/spain.csv')
#df_wc = pd.read_csv('./../../data/wyscout_tabular/events_World_Cup.csv')

dfs = [df_eng, df_ger, df_ita, df_fra, df_spa]

df_events = pd.concat(dfs)

In [3]:
df_p_eng = pd.read_csv('./../../data/datos_scrappeados/players_generalEngland-Football.csv')
df_p_ger = pd.read_csv('./../../data/datos_scrappeados/players_generalGermany-Football.csv')
df_p_ita = pd.read_csv('./../../data/datos_scrappeados/players_generalItaly-Football.csv')
df_p_fra = pd.read_csv('./../../data/datos_scrappeados/players_generalFrance-Football.csv')
df_p_spa = pd.read_csv('./../../data/datos_scrappeados/players_generalSpain-Football.csv')

In [4]:
player_stats = [df_p_eng, df_p_ger, df_p_ita, df_p_fra, df_p_spa]
player_stats = pd.concat(player_stats)

In [5]:
df_players = pd.read_json('./../../data/wyscout/players.json', encoding='utf8')
df_teams = pd.read_json('./../../data/wyscout/Teams/teams.json', encoding='utf8')
df_comps = pd.read_json('./../../data/wyscout/Competitions/competitions.json', encoding='utf8')

df_players[['name', 'id', 'alpha3code', 'alpha2code']] = pd.json_normalize(df_players['passportArea'])
df_players['role'] = pd.json_normalize(df_players['role'])['name']
df_players[['country', 'cou_code']] = pd.json_normalize(df_players['birthArea'])[['name', 'alpha2code']]

df_players = df_players.drop(columns=['passportArea', 'birthArea'])

In [6]:
#fix encoding
df_teams['officialName'] = df_teams['officialName'].apply(lambda x: x.encode().decode('unicode_escape'))
df_teams['name'] = df_teams['name'].apply(lambda x: x.encode().decode('unicode_escape'))

df_players['firstName'] = df_players['firstName'].apply(lambda x: x.encode().decode('unicode_escape'))
df_players['lastName'] = df_players['lastName'].apply(lambda x: x.encode().decode('unicode_escape'))
df_players['middleName'] = df_players['middleName'].apply(lambda x: x.encode().decode('unicode_escape'))

In [7]:
df_players = df_players[['firstName', 'middleName', 'lastName', 'currentTeamId', 'weight', 
                         'height', 'foot', 'country', 'cou_code', 'role', 'birthDate']]

#some players dont have club assigned. It's because of players from the wold cup that don't have a team on the top 5 leagues
df_all_info = df_players.merge(df_teams[['city', 'name', 'officialName', 'wyId']], left_on='currentTeamId', right_on='wyId', how='left')

In [8]:
from datetime import datetime, date

def calc_age(birthdate):
    birthdate = datetime.strptime(birthdate, "%Y-%m-%d").date()
    today = date.today()
    
    age = today.year - birthdate.year - ((today.month,
                                          today.day) < (birthdate.month,
                                                        birthdate.day))
    return age

calc_age(df_all_info['birthDate'].iloc[1])

24

In [9]:
df_all_info['age'] = df_all_info['birthDate'].apply(lambda x: calc_age(x))

In [10]:
text = "O.G.C. Nice C\u00f4te d'Azur"
text = text.encode().decode('unicode_escape')
print(text)

O.G.C. Nice CÃ´te d'Azur

### Unir datos de jugadores

df_all_info:
- 3603 jugadores
- pero 1164 no tienen equipo asignado (

In [11]:
def get_last_name_1(text):
    text_list = text.split(" ")
    
    return text_list[0]

In [12]:
df_all_info = df_all_info[df_all_info['officialName'].isna() == False]
df_all_info.shape

(2439, 16)

In [13]:
df_all_info['last_name_1'] = df_all_info['lastName'].apply(lambda x: get_last_name_1(x))
df_all_info['first_name_1'] = df_all_info['firstName'].apply(lambda x: get_last_name_1(x))

In [14]:
df_all_info['fullName'] = df_all_info['first_name_1'] + ' ' + df_all_info['last_name_1']

In [15]:
#600 names don't match

df_all_info.shape

(2439, 19)

In [16]:
#1162 don't match

player_stats.shape

(3164, 30)

In [17]:
df_all_info[df_all_info.officialName.str.contains("Tottenham") == True]

,firstName,middleName,lastName,currentTeamId,weight,height,foot,country,cou_code,role,birthDate,city,name,officialName,wyId,age,last_name_1,first_name_1,fullName
6,Toby,,Alderweireld,1624,91,187,right,Belgium,BE,Defender,1989-03-02,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,33,Alderweireld,Toby,Toby Alderweireld
7,Jan,,Vertonghen,1624,88,189,left,Belgium,BE,Defender,1987-04-24,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,35,Vertonghen,Jan,Jan Vertonghen
9,Christian,,Dannemann Eriksen,1624,76,180,right,Denmark,DK,Midfielder,1992-02-14,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,30,Dannemann,Christian,Christian Dannemann
718,Danny,,Rose,1624,76,174,left,England,,Defender,1990-07-02,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,32,Rose,Danny,Danny Rose
745,Harry,,Kane,1624,86,188,right,England,,Forward,1993-07-28,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,29,Kane,Harry,Harry Kane
750,Kieran,,Trippier,1624,72,178,right,England,,Defender,1990-09-19,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,32,Trippier,Kieran,Kieran Trippier
846,Moussa Sidi Yaya,,Dembélé,1624,88,185,left,Belgium,BE,Midfielder,1987-07-16,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,35,Dembélé,Moussa,Moussa Dembélé
936,Eric,,Dier,1624,90,188,right,England,,Midfielder,1994-01-15,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,29,Dier,Eric,Eric Dier
939,Bamidele,,Alli,1624,80,188,right,England,,Midfielder,1996-04-11,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,26,Alli,Bamidele,Bamidele Alli
1061,Heung-Min,,Son,1624,77,183,right,Korea Republic,KR,Forward,1992-07-08,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,30,Son,Heung-Min,Heung-Min Son
1890,Hugo,,Lloris,1624,82,188,left,France,FR,Goalkeeper,1986-12-26,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,36,Lloris,Hugo,Hugo Lloris
2340,Ben,,Davies,1624,76,182,left,Wales,,Defender,1993-04-24,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,29,Davies,Ben,Ben Davies
2372,Lucas,,Rodrigues Moura da Silva,1624,72,172,right,Brazil,BR,Forward,1992-08-13,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,30,Rodrigues,Lucas,Lucas Rodrigues
2435,Harry,,Winks,1624,74,176,right,England,,Midfielder,1996-02-02,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,27,Winks,Harry,Harry Winks
2598,Davinson,,Sánchez Mina,1624,79,187,right,Colombia,CO,Defender,1996-06-12,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,26,Sánchez,Davinson,Davinson Sánchez
2816,Fernando,,Llorente Torres,1624,90,195,right,Spain,ES,Forward,1985-02-26,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,37,Llorente,Fernando,Fernando Llorente
2844,Michel,,Vorm,1624,84,184,right,Netherlands,NL,Goalkeeper,1983-10-20,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,39,Vorm,Michel,Michel Vorm
2877,Moussa,,Sissoko,1624,91,187,right,France,FR,Midfielder,1989-08-16,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,33,Sissoko,Moussa,Moussa Sissoko
2946,Victor,,Wanyama,1624,87,184,right,Kenya,KE,Midfielder,1991-06-25,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,31,Wanyama,Victor,Victor Wanyama
2986,Erik,,Lamela,1624,80,181,left,Argentina,AR,Midfielder,1992-03-04,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,30,Lamela,Erik,Erik Lamela
3036,Serge,,Aurier,1624,76,176,right,C\u00f4te d'Ivoire,CI,Defender,1992-12-24,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,30,Aurier,Serge,Serge Aurier
3066,Paulo Dino,,Gazzaniga,1624,78,185,right,Argentina,AR,Goalkeeper,1992-01-02,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,31,Gazzaniga,Paulo,Paulo Gazzaniga
3110,Georges-Kevin,,N'Koudou Mbida,1624,73,175,right,France,FR,Forward,1995-02-13,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,27,N'Koudou,Georges-Kevin,Georges-Kevin N'Koudou
3176,Kyle,,Walker-Peters,1624,64,174,right,England,,Defender,1997-04-13,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,25,Walker-Peters,Kyle,Kyle Walker-Peters
3203,Juan Marcos,,Foyth,1624,69,182,right,Argentina,AR,Defender,1998-01-12,London,Tottenham Hotspur,Tottenham Hotspur FC,1624.0,25,Foyth,Juan,Juan Foyth

In [18]:
df_all_info[df_all_info['lastName'].str.contains("Origi") == True]

,firstName,middleName,lastName,currentTeamId,weight,height,foot,country,cou_code,role,birthDate,city,name,officialName,wyId,age,last_name_1,first_name_1,fullName
288,Divock,,Okoth Origi,2451,75,185,right,Belgium,BE,Forward,1995-04-18,Wolfsburg,Wolfsburg,VfL Wolfsburg,2451.0,27,Okoth,Divock,Divock Okoth

In [19]:
player_stats[player_stats['player'].str.contains("Origi") == True]

,Unnamed: 0,nationality,position,age,games,games_starts,minutes,minutes_90s,goals,assists,...,xg,npxg,xg_assist,npxg_xg_assist,xg_per90,xg_assist_per90,xg_xg_assist_per90,npxg_per90,npxg_xg_assist_per90,player
56,56,be BEL,FW,22.0,1,0,10,0.1,0.0,0.0,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Divock Origi
127,127,be BEL,FW,22.0,31,22,"1,967",21.9,6.0,2.0,...,7.2,7.2,1.1,8.3,0.33,0.05,0.38,0.33,0.38,Divock Origi

In [20]:
#player_stats['len'] = player_stats.player.str.len()
#player_stats.sort_values(by='len', ascending=False).head(20)

# Razones por que lso nombres no cuadran:
- El first name en player_stats es como una abreviación o un apodo (Ignacio está como Nacho)
- De plano no están
- En playerstats a veces se toma su segundo apellido en vez del primero
- Nombres escritos de forma diferente
- Están de forma diferente
- Solo sale el primer nombre (Roberto Firmino)

In [21]:
df_left = df_all_info.merge(player_stats.drop(columns = 'age'), left_on = 'fullName', right_on = 'player', how='left')
df_left#[df_left['fullName'].isna() == True][["firstName","middleName","lastName", "fullName","officialName", "player"]]#.head(20)

,firstName,middleName,lastName,currentTeamId,weight,height,foot,country,cou_code,role,...,xg,npxg,xg_assist,npxg_xg_assist,xg_per90,xg_assist_per90,xg_xg_assist_per90,npxg_per90,npxg_xg_assist_per90,player
0,Malang,,Sarr,3775,73,182,left,France,FR,Defender,...,0.8,0.8,0.4,1.2,0.05,0.03,0.08,0.05,0.08,Malang Sarr
1,Over,,Mandanda,3772,72,176,,France,FR,Goalkeeper,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Over Mandanda
2,Alfred John Momar,,N'Diaye,683,82,187,right,France,FR,Midfielder,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Alfred N'Diaye
3,Ibrahima,,Konaté,2975,84,192,right,France,FR,Defender,...,0.3,0.3,0.5,0.8,0.02,0.04,0.06,0.02,0.06,Ibrahima Konaté
4,Jasper,,Cillessen,676,83,185,right,Netherlands,NL,Goalkeeper,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Jasper Cillessen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2550,Yann Aurel,,Bisseck,2463,83,194,right,Germany,DE,Defender,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2551,Darijo,,Srna,3173,78,178,right,Croatia,HR,Defender,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2552,Łukasz,,Teodorczyk,3163,79,188,right,Poland,PL,Forward,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2553,Ante,,Ćorić,3158,59,176,right,Croatia,HR,Midfielder,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2554,Laurent,,Ciman,3804,70,184,right,Belgium,BE,Defender,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_left.columns

Index(['firstName', 'middleName', 'lastName', 'currentTeamId', 'weight',
       'height', 'foot', 'country', 'cou_code', 'role', 'birthDate', 'city',
       'name', 'officialName', 'wyId', 'age', 'last_name_1', 'first_name_1',
       'fullName', 'Unnamed: 0', 'nationality', 'position', 'games',
       'games_starts', 'minutes', 'minutes_90s', 'goals', 'assists',
       'goals_pens', 'pens_made', 'pens_att', 'cards_yellow', 'cards_red',
       'goals_per90', 'assists_per90', 'goals_assists_per90',
       'goals_pens_per90', 'goals_assists_pens_per90', 'xg', 'npxg',
       'xg_assist', 'npxg_xg_assist', 'xg_per90', 'xg_assist_per90',
       'xg_xg_assist_per90', 'npxg_per90', 'npxg_xg_assist_per90', 'player'],
      dtype='object')

## Webscraped data graphs

(solo temporales, con mejores métricas usaremos wyscout)

In [23]:
df_events

,Unnamed: 0,eventId,subEventName,playerId,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,...,x_inicio,y_inicio,x_fin,y_fin,tag_0,tag_1,tag_2,tag_3,tag_4,tag_5
0,0,8,Simple pass,25413,2499719,Pass,1609,1H,2.758649,85.0,...,49,49,31.0,78.0,1801.0,NaN,NaN,NaN,NaN,NaN
1,1,8,High pass,370224,2499719,Pass,1609,1H,4.946850,83.0,...,31,78,51.0,75.0,1801.0,NaN,NaN,NaN,NaN,NaN
2,2,8,Head pass,3319,2499719,Pass,1609,1H,6.542188,82.0,...,51,75,35.0,71.0,1801.0,NaN,NaN,NaN,NaN,NaN
3,3,8,Head pass,120339,2499719,Pass,1609,1H,8.143395,82.0,...,35,71,41.0,95.0,1801.0,NaN,NaN,NaN,NaN,NaN
4,4,8,Simple pass,167145,2499719,Pass,1609,1H,10.302366,85.0,...,41,95,72.0,88.0,1801.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628654,628654,8,Simple pass,20623,2565927,Pass,682,2H,2939.077491,85.0,...,66,25,88.0,2.0,1801.0,NaN,NaN,NaN,NaN,NaN
628655,628655,7,Acceleration,122832,2565927,Others on the ball,682,2H,2940.515560,70.0,...,88,2,97.0,21.0,1801.0,NaN,NaN,NaN,NaN,NaN
628656,628656,8,Cross,122832,2565927,Pass,682,2H,2942.098761,80.0,...,97,21,92.0,26.0,401.0,1802.0,NaN,NaN,NaN,NaN
628657,628657,8,Simple pass,40756,2565927,Pass,675,2H,2943.089232,85.0,...,8,74,9.0,56.0,1801.0,NaN,NaN,NaN,NaN,NaN
628658,628658,7,Clearance,3306,2565927,Others on the ball,675,2H,2943.668846,71.0,...,9,56,100.0,100.0,1401.0,1802.0,NaN,NaN,NaN,NaN

## VAEP

In [24]:
df_vaep.groupby(by=['first_name', 'last_name', 'team_name', 'player_id', 'type_name']).sum().sort_values(by='vaep_value', ascending=False).head(20)

NameError: name 'df_vaep' is not defined

In [ ]:
df_vaep['type_name'].unique()

In [ ]:
gk_df = df_vaep[df_vaep['type_name'] == 'keeper_save']

In [ ]:
gk_df.groupby(by=['first_name', 'last_name', 'team_name', 'player_id', 'type_name']).sum().sort_values(by='vaep_value', ascending=False).head(20)

In [ ]:
#salvar 

#df_left.to_csv('./../../data/wyscout_tabular/players_info_dash.csv')

In [ ]:
#df_events.to_csv('./../../data/wyscout_tabular/all_events.csv')

In [ ]:
#df_left[df_left['player'].isna() == True]